<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "e-mail"%>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "password" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "confirm your password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
    <div id="formFooter">
     <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

